<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809989432280-iqqsai15calht1los10b7fjlgi263ip9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809989432280-iqqsai15calht1los10b7fjlgi263ip9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809989432280-kgk9a29qd3cjdp8bfukri7d0td1d0dfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGgIjLs4Xz-HbFTU2SHz5geAj6s9Mmv_k</string>
	<key>GCM_SENDER_ID</key>
	<string>809989432280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.istanbul</string>
	<key>PROJECT_ID</key>
	<string>chatapp-18108</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-18108.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809989432280:ios:6365b3b687ce0fac7848ad</string>
</dict>
</plist>